@media screen and (max-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  #header {
    padding-left: 0;

    .navbar1 {
      margin-left: 0px;
    }
  }

  .btn {
    margin-bottom: 30px;
    width: auto;
  }

  .section2,
  .section3,
  .section4,
  .section5,
  .section6,
  .section7,
  .section8,
  .motoristas section footer {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .index {
    .section1 {

      .bg-purple {
        overflow: hidden;
        min-height: 200px;
        margin-left: 0;

        .aux1 {
          padding: 40px 45px 260px 45px;
        }

        .btn {
          margin-bottom: 30px;
          margin-right: 0;
        }

        img {
          margin-bottom: 120px;
          max-width: 100%;
        }
      }
    }

    .section-bg1 {
      margin-top: -71px;
      padding-bottom: 110px;
    }

    .section2 {
      padding-top: 60px;
      padding-left: 30px;
      .txt-purple {
        padding-right: 20px;
        margin-top: 120px;
        margin-bottom: 30px;
      }

      .txt1 {
        padding-left: 0;
        margin-top: 30px;
        margin-bottom: 60px;
      }
    }

    .section3 {
      .box-white {
        padding: 50px 50px 80px 50px;
      }

      .btn-floating {
        left: 50%;
        margin-left: -130px;
      }

      .box-purple {
        padding: 80px 50px 60px 50px;
      }
    }

    .section4 {
      padding-top: 50px;
    }

    .section5,
    .section7 {
      padding: 50px 40px;
      position: relative;

      h1 {
        padding-right: 0px;
      }
    }

    .section-bg2 {
      padding-top: 60px;
      padding-bottom: 160px;
    }

    .section-bg3 {
      padding-top: 60px;
      padding-bottom: 50px;
    }

    .section8 {
      img {
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }

    footer {
      padding-top: 60px;

      .buttons-menu {
        a {
          margin-bottom: 10px;
        }

        .btn-primary {
          margin-right: 0;
        }
      }

      .shop {
        img {
          margin-bottom: 10px;
        }
      }

      .social {
        margin-bottom: 50px;
      }
    }
  }
  // fim da pg index

 
  .motoristas {

    .section-bg1 {
      margin-top: 0;
      padding-bottom: 95px;
    }

    .btn {
      width: auto;
      padding-left: 40px;
      padding-right: 40px;
    }

    .section1
    {
      padding: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .section1 {
      position: relative;
      margin-bottom: 80px;
      padding-bottom: 0;
      border-bottom-left-radius: 0;

      .aux1 {
        padding-left: 50px;
        padding-top: 40px;
      }
    }

    .timeline1 {
      padding-top: 0;

      .info1 {
        margin-top: 40px;
      }
      .info1,
      .info2,
      .info3 {
        margin-bottom: 50px;
      }

      .info2,
      .info3 {
        margin-top: 0;
      }

    }

    .section3 {
      position: relative;
      margin-top: 0;

      h1 {
        margin-top: 30px;
      }

      .txt1 , .txt2 {
        padding-right: 0;
        line-height: 39px;
      }
    }

    .section-bg4 {
     padding-top: 0;
     padding-bottom: 40px;

     .info1 {
       margin-top: 50px;
     }
     .info2,
     .info3 {
       margin-top: 0;
     }
    }
  }
  //fim motoristas

  .passageiros {

    .section1 , .section3 {
      position: relative;
    }

    .btn {
      width: auto;
      margin-bottom: 70px;
    }

    .section1 {
      .aux1 {
        padding: 60px 40px 10px 40px;

        h1 {
          padding-right: 0;
          padding:10px 60px 50px 60px;
        }
      }
    }

    .section-bg1 {
      padding-bottom: 90px;
      padding-top: 0;
      margin-top: 80px;
    }

    .section2 {
      padding: 40px 10px;
    }

    .section3 {
      margin-top: 100px;

      .aux1 {
        padding: 60px 40px 10px 40px;

        h1 {
          padding-right: 0;
        }
      }

      .btn-secondary {
        width: 100%;
      }
    }

    .section-bg3 {
      margin-top: 0;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .section8 {

      h1 {
        margin-bottom: 60px;
      }
      img {
        margin-top: 30px;
        margin-bottom: 60px;
      }
    }


  }

  footer {

    .btn {
      margin-bottom: 20px !important;
      margin-top: 20px !important;
    }

    .btn-four {
      padding-left: 0;
      padding-right: 0;
      margin-right: 0 !important;
    }

  }

}
