
@media screen and (max-width: 600px) {

  .remove-padding-right-xs {
    padding-right: 0 !important;
  }
  
  .remove-padding-xs {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .border-top-bottom-right-radius-none {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  #header {
    padding-left: 0;

    .navbar1 {
      margin-left: 0px;
    }
  }
    
  .index {

    .section2, 
    .section3,
    .section4,
    .section5,
    .section6,
    .section7,
    .section8,
    footer
    {
      padding: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .section1 {
      .bg-purple {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        overflow: hidden;
        min-height: 200px;
        margin-left: 0;

        .aux1 {
          padding: 40px 45px;
        }

        .btn {
          margin-bottom: 30px;
        }

        img {
          margin: auto;
          margin-bottom: 150px;
          max-width: 100%;
          display: block;
        }
      }
    }

    .section-bg1{
      margin-top: -71px;
      padding-bottom: 110px;
    }

    .section2 {

      padding-bottom: 0;

      .txt-purple {
        padding-right: 20px;
        margin-top: 120px;
        margin-bottom: 30px;
        padding-left: 0;
      }

      .txt1 {
        padding-left: 0;
        margin-top: 30px;
        margin-bottom: 60px;
      }
    }

    .section4 {
      padding-left: 0;
    }

    .section3 {
      .box-white {
        padding: 50px 50px 80px 50px;
        border-top-left-radius: 60px;
        border-top-right-radius: 0;

        h1 {
          padding-right: 0;
        }
      }

      .btn-floating {
        left: 50%;
        margin-left: -130px;
        padding-left: 40px;
        padding-right: 40px;
      }

      .box-purple {
        padding: 80px 50px 60px 50px;
      }
    }

    .section4 {
      padding-top: 50px;
    }

    .section5 , .section7 {
      padding: 50px 40px;
      position: relative;
      @extend .border-top-bottom-right-radius-none;

      h1 {
        padding-right: 0px;
      }
    }

    .section7 {
      margin-right:-20px
    }

    .section6 {
      h1 {
        padding-right: 0;
        margin: 30px auto;
      }
    }

    .section-bg2 {
      padding-top: 60px;
      padding-bottom: 160px;
    }

    .section-bg3 {
      padding-top: 60px;
      padding-bottom: 50px;
    }

    .section8 {
      img {
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }
  }

  // fim da pg index

  .motoristas { 

    .btn {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    section ,
    .section1,
    .timeline1,
    .section3,
    .timeline2,
    footer
    {
      padding-left: $general-padding-left - 110px;
      padding-right: $general-padding-right - 110px;
    }

    .section1 {
      .aux1 {
        padding: 0;
        h1 {
          padding-top: 0px;
          padding-left: 25px;
          padding-right: 20px;
        }

        .btn {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 50px;
        }
      }
    }

    .timeline1 ,
    .timeline2
    {
      .info1 ,
      .info2 ,
      .info3 {
        margin-bottom: 60px;
      }
    
    }

    .section3 {   
      position: relative;
      @extend .border-top-bottom-right-radius-none;

      h1 {
        padding-right: 0;
      }

      .btn {
        margin-left: 20px;
        margin-right: 20px;
      }

      .txt1 , .txt2 {
        padding-left: 20px;
        padding-right: 20px;
        line-height: $txt-Line-Height - 5px;
      }
    }

    .section-bg4 {
      padding-bottom: 0;
    }
  }
  //fim motoristas

  .passageiros {

    section {
      padding-left: $general-padding-left - 110px;
      padding-right: $general-padding-right - 110px;
    }

    .border-before {
      position: relative;

      &:before {
        content: none;
      }
    }

    .btn {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 40px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .section1 {
      .aux1 {
        padding: 0;
        h1 {
          padding-top: 30px;
          padding-left: 25px;
          padding-right: 0;
        }
        .btn {
          width: auto;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }

    .section3 {
      margin-top: 50px;
      @extend .border-top-bottom-right-radius-none;
      border-bottom-left-radius: 50px;
      
      .aux1 {
        padding: 20px 30px;

        h1 {
          padding-right: 0;
        }
      }

      .btn {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 0;
        width: 100%;
      }
    }

    .section8 {
      .btn {
        width: auto;
      }
    }
  }

  //fim passageiros

  .escolha {
    .arrow-left {
      margin: 25px 25px 0;
    }

    svg {
      margin-left: -20px;
    }

    .box-choice {
      padding-bottom: 40px;
    }
  }


  footer {
    padding: 0;
    padding-top: 60px !important;

    .text-align-end {
      text-align: end;
    }

    .buttons-menu {
      a {
        margin-bottom: 10px;
      }

      .btn-primary {
        margin-right: 0;
      }
    }

    .shop {
      img {
        margin-bottom: 10px;
      }
    }

    .social {
      margin-bottom: 50px;
    }
  } 

  //fim footer

  .cadastro-motorista {
    .arrow-left {
      margin: 25px 25px 0;
    }
  }

  .fale-conosco {
    .section1 {
      padding: 30px 30px 60px 30px;
      @extend .border-top-bottom-right-radius-none;

      .aux1 {
        h1 {
          padding: 0 20px;
        }
      }
    }
  }

  .politica-privacidade {
    .section1 {
      padding: 60px 30px;
      position: relative;

      h1 {
        padding-right: 0;
      }
    }
    .section-bg1 {
      min-height: 200px;
      padding-bottom: 0;
      background-color: transparent !important;
    }
  }

  .login {
    .arrow-left {
      margin-left: 10px;
    }
    .box-white {
      margin-left: 10px;
      margin-right: 10px;
    }
    .form-login form#login-form {
      padding: 0 40px;
    }
  }

  .arrow-left {
    margin: 0 !important;
    left: 15px;
    top: 15px;
  }

}
