<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>
        Precisa de ajuda? <span class="highlight">Fale conosco</span>
      </h1>
      <div class="buttons-menu">
        <a href="http://" class="btn btn-four d-inline-block">Fale conosco</a>
      <a href="http://" class="btn btn-four d-inline-block">Dirija</a>
      <a href="http://" class="btn btn-four d-inline-block">Viaje</a>
      </div>

      <div class="social">
        <a href="http://"  target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram d-inline-block"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter d-inline-block"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square d-inline-block"></i></a>
      </div>
    </div>
    <div class="col-md-4">
      <h1>
        Baixe o 1Driver <span class="highlight">gratuitamente!</span>
      </h1>

      <p>
        Obtenha os aplicativos de passageiro ou motorista para Android ou iOS.
      </p>

      <img src="assets/images/appStore.jpg" alt="" class="img-fluid d-inline-block">
      <img src="assets/images/googlePlay.jpg" alt="" class="img-fluid float-right">

      
    </div>
  </div>
</div>