<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="text-center text-lg-left">
        Onde<br/> <span class="highlight">estamos?</span>
      </h1>
     
      <div class="row">
        <div class="col-md-6 col-lg-5 location d-flex justify-content-center justify-content-lg-start">
          <img src="assets/images/icon-map.svg" alt="" class="d-inline align-self-baseline" /> <p class="d-inline">João Pessoa/PB</p>
        </div>
        <div class="col-md-6 col-lg-7 whatsapp d-flex justify-content-center justify-content-lg-start">
          <img src="assets/images/icon-map.svg" alt="" class="d-inline align-self-baseline" /> <p class="d-inline">+55 (83) 99655-9266</p>
        </div>
      </div>
    
      <div class="social text-center text-lg-left">
        <a href="http://"  target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram d-inline-block"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter d-inline-block"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square d-inline-block"></i></a>
      </div>
    </div>
    <div class="col-lg-4">
      <h1 class="text-center text-lg-left">
        Baixe o 1Driver <span class="highlight">gratuitamente!</span>
      </h1>

      <p class="text-center text-lg-left">
        Obtenha os aplicativos de passageiro ou motorista para Android ou iOS.
      </p>

      <div class="shop text-center text-lg-left">
        <div class="row">
          <div class="col-md-6">
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <img src="assets/images/appStore.jpg" alt="" class="img-fluid d-inline-block">
            </a>
          </div>
         <div class="col-md-6">
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/googlePlay.jpg" alt="" class="img-fluid">
          </a>
         </div>
        </div>
      </div>

      
    </div>
  </div>
  <div class="row institucional">
    <div class="col-lg-4 text-center text-lg-left">
      © 2020 1Driver App. Todos os direitos reservados.
    </div>
    <div class="col-lg-2 d-lg-flex justify-content-center align-items-center text-center text-lg-left">
      <a href="termos">
        Termos de uso
      </a>
    </div>
    <div class="col-lg-2 d-lg-flex justify-content-center align-items-center text-center text-lg-left">
      <a href="politica-de-privacidade.html">
        Política de privacidade
      </a>
    </div>
    <div class="col-lg-4 d-lg-flex justify-content-end align-items-center text-center text-lg-left">
      <a class="link-mobister" href="https://mobister.com.br" target="_blank">mobister</a>
    </div>
  </div>
</div>