.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $vermelho;
  color: white;
  border-radius: 30px;
  font-weight: 500;
  padding: 15px;
  font-size: $btn-font-size;
  border: none;
  width: 230px;
  border-color: transparent;

  i {
    color: $amarelo;
  }

  span {
    padding-left: 5px;
  }

  &:hover {
    color: $amarelo !important;
    background-color: $vermelho;

    span {
      margin-left: $btn-recuo-animacao;
    }

    i {
      color: white;
      padding-left: 10px;
    }
  }
}

.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: white;
  border: 1px solid $lilas;
  border-radius: 30px;
  padding: 15px;
  color: $roxo;
  font-weight: 500;
  font-size: $btn-font-size;
  width: 230px;

  i {
    color: $vermelho;
  }

  &:hover {
    background-color: $lilas !important;
    color: $roxoMaisEscuro;
    border-color: transparent;

    span {
      margin-left: $btn-recuo-animacao + 5px;
      padding-right: 5px;
    }

    i {
      padding-left: 7px;
    }
  }
}

.btn-third,
.btn-third:not(:disabled):not(.disabled).active,
.btn-third:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border: 2px solid rgba($color: #fff, $alpha: 0.5);
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-weight: 500;
  width: 260px;
  font-size: $btn-font-size;

  i {
    color: $amarelo;
  }

  &:hover {
    background-color: #e64845;
    color: white !important;

    span {
      margin-left: $btn-recuo-animacao;
      padding-right: 5px;
    }

    i {
      padding-left: 5px;
    }
  }
}

.btn-four , 
.btn-four:not(:disabled):not(.disabled).active,
.btn-four:not(:disabled):not(.disabled):active
{
  @extend .btn-primary;
  background-color: white;
  width: auto !important;
  color: $roxo;
  border: 2px solid #f2f2f2;

  &:hover {
    background-color: #f2f2f2;
    color: $roxo !important;
  }
}
