
  footer {
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: $general-padding-left;
    padding-right: $general-padding-right;
    
    .social {
      margin-top: 100px;
      margin-bottom: 80px;

      a{
        color: $roxoClaro;

        i {
          font-size: 30px;
        }

        &:not(:last-child) i {
          margin-right: 60px;
        }

      }
    }

    .btn-primary {
      width: auto;
      padding: 10px 35px;
  
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    
    .shop {
      
      a:not(:last-child) {
        margin-right: 40px;
      }
    }

    h1 {
      margin-bottom: 30px;
      color: $roxo;
    }

    .location {
      font-size: 21px;
     p {
      margin-bottom: 20px;
     }
      img {
        margin-right: 15px;
      }
    }

    .whatsapp {
      @extend .location;
      margin-right: 0;
    }
  
    p {
      margin-bottom: 51px;

      a {
        color: $colorTxt;
        display: inline-block;
      }
    }

    .institucional {
      margin-top: 110px;
      font-size: 13px;
      div {
        margin-bottom: 6px;
      }
      a {
        color: $colorTxt; 
        text-decoration: underline;
      }

      .link-mobister {
        text-decoration: none;
      }
    }
  }

