#header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 120px;
  
  li{
    &:not(:last-child) {
      margin-right: 60px;
    }

    a{
      color: $colorTxt;
      padding: 10px 30px;

      &.link-purple {
        color: $roxo;
        border-radius: 30px;
        border:1px solid transparent;

        &:hover {
          border-color:$roxo;
        }
      }
    }
  }

  .nav-2 {
    li {
      &:not(:last-child) {
        margin-right: 0px;
      }

    }
  }

  .navbar1 {
    margin-left: 40px;
  }
}