html {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  font-weight: 400;
  color: $colorTxt;
}

.container-fluid {
  padding-left: 120px;
  padding-right: 120px;
}

/*
 * Extra utilities
 */

 .flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  i {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    margin-left: 6px;
  }

  &:hover {
    text-decoration: none;
    color: $roxoMaisEscuro !important;
  }
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

.w-95 {
  max-width: 92%!important;
  margin: auto;
}

.bg-purple {
  background-color: $roxoMaisEscuro;
}

.bg-purple-opacity {
  background-color: $roxo;

}

.bg-red {
  background-color: $vermelho;

}

.highlight {
  color: $highlightRoxo;
}

.txt {
  color: $colorTxt;
}

.txt-white {
  color: white;
}

.section-bg1 {
  background-color: $lilas;
  min-height: 200px;
  padding-bottom: 288px;
  margin-top: -215px;
}

.section5 ,
.section7 ,
.motoristas .section1 ,
.motoristas .section3
{
  background-color: white;
  border-radius: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: $general-padding-left;
  padding-right: $general-padding-right;
  position: absolute;
  z-index: 2;
  margin-top: 50px;
  box-shadow: 0px 20px 30px rgba(71, 46, 153, 0.1);
  color: #655D7E;
}


.section-bg2
{
  background-color: $vermelho;
  min-height: 200px;
  padding-top: 300px;
  padding-bottom: 505px;
}

.section-bg3 {
  @extend .section-bg1;
  padding-top: 330px;
  padding-bottom: 90px;
}

.section-bg4 {
  background-color: $roxo;
  min-height: 200px;
  padding-top: 300px;
  padding-bottom: 505px;
}
