html {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  font-weight: 400;
  color: $colorTxt;
}

.container-fluid {
  padding-left: 120px;
  padding-right: 120px;
}

/*
 * Extra utilities
 */

 .flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  i {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    margin-left: 6px;
  }

  &:hover {
    text-decoration: none;
    color: $roxoMaisEscuro !important;
  }
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

.w-95 {
  max-width: 92%!important;
  margin: auto;
}

.bg-purple {
  background-color: $roxoMaisEscuro;
}

.bg-purple-opacity {
  background-color: $roxo;

}

.bg-red {
  background-color: $vermelho;

}

.highlight {
  color: $highlightRoxo;
}

// .bg-transparent {

// }

.txt {
  color: $colorTxt;
}

.txt-white {
  color: white;
}
