html {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  font-weight: 400;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  span {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    margin-left: 6px;
  }

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: 3rem;
}

.w-95 {
  width: 95%!important;
  margin: auto;
}

.bg-purple {
  background-color: $roxoMaisEscuro;
}

.bg-purple-opacity {
  background-color: $roxo;
  flex: 2.24 !important;
  padding: 100px 80px;
}

.bg-red {
  background-color: $vermelho;
  flex: 1.94 !important;
}

.bg-transparent {
  flex:0.3 !important;
}

.txt {
  color: $colorTxt;
}
