html {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  font-weight: 400;
  color: $colorTxt;
}

.container-fluid {
  padding-left: 120px;
  padding-right: 120px;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

a,
button {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  i {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    margin-left: 6px;
  }

  &:hover {
    text-decoration: none;
    color: $roxoMaisEscuro !important;
  }
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

.w-95 {
  max-width: 92% !important;
  margin: auto;
}

.bg-purple {
  background-color: $roxoMaisEscuro;
}

.bg-purple-opacity {
  background-color: $roxo;
}

.bg-red {
  background-color: $vermelho;
}

.highlight {
  color: $highlightRoxo;
}

.txt {
  color: $colorTxt;
}

.txt-white {
  color: white;
}

.section-bg1 {
  background-color: $lilas;
  min-height: 200px;
  padding-bottom: 288px;
  margin-top: -215px;
}

.section5,
.section7,
.motoristas .section1,
.motoristas .section3,
.passageiros .section1,
.passageiros .section3,
.fale-conosco .section1
{
  background-color: white;
  border-radius: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: $general-padding-left;
  padding-right: $general-padding-right;
  position: absolute;
  z-index: 2;
  margin-top: 50px;
  box-shadow: 0px 20px 30px rgba(71, 46, 153, 0.1);
  color: #655d7e;

  h1 {
    padding-right: 138px;
    margin-top: 30px;
    color: $roxo;

    span {
      color: rgba($roxo, 0.5);
    }
  }
}

.section-bg2 {
  background-color: $vermelho;
  min-height: 200px;
  padding-top: 300px;
  padding-bottom: 505px;
}

.section-bg3 {
  @extend .section-bg1;
  padding-top: 330px;
  padding-bottom: 90px;
}

.section-bg4 {
  background-color: $roxo;
  min-height: 200px;
  padding-top: 300px;
  padding-bottom: 505px;
}

.form-search ,
.form-registration,
.form-login,
.form-faleConosco
{
  position: relative;
  z-index: 2;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.8;
    z-index: 3;
  }

  & > form {
    z-index: 4;
    position: relative;
    padding: 0px 10px;
    width: 100%;
  }

  /* estilo do input ------------------------------- */
  .group {
    position: relative;
    margin-bottom: 45px;
  }
  .group input,
  .group textarea
  {
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #D4CBF0;
    background: none;
    color: $roxo;
  }
  .group input:focus ,
  .group textarea:focus {
    outline: none;
  }

  .group textarea {
    resize: none;
    overflow-y: hidden;
    line-height: normal;
  }

  /* LABEL ======================================= */
  .group label {
    color: $colorTxt;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* active  */
  .group input:focus ~ label,
  .group textarea:focus ~ label,
  input:valid ~ label ,
  textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: $colorTxt;
  }

  /* linha ================================= */
  .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  .bar:before,
  .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f74d49;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  /* active linha */
  .group input:focus ~ .bar:before,
  .group textarea:focus ~ .bar:before,
  .group input:focus ~ .bar:after ,
  .group textarea:focus ~ .bar:after {
    width: 50%;
  }

  /* HIGHLIGHT ================================== */
  .highlight {
    position: absolute;
    height: 0%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active */
  .group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  .group textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  .span-input {
    margin-left: 0px;
    position: relative;
    top: 0px;
  }
}
//fim material form

.button-remove-border {
  border: none !important;
  color: #655D7E !important;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: rgba(255, 255, 255, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: rgba(255, 255, 255, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}


.active {
  background-color: #F2F2F2;
  border-radius: 30px;
  a {
    color: #472E99 !important;
  }
}