
@media screen and (max-width: 1280px){

  h1 {
    font-size: 2.5rem;
  }

 .index {
   .section1 {
     .bg-purple {
      width: 75vw;

      .aux1 {
        padding-top: 31px;
        padding-left: 40px;
      }

     }
   }
 }
}
