@media screen and (max-width: 1280px) {
  .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
  }

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.3rem !important;
  }

  .index {
    .section1 {
      .bg-purple {
        width: 75vw;
        margin-left: 25px;
        padding-left: 5px;
        padding-top: 40px;

        img {
          max-width: 38%;
        }

        p {
          font-size: 1rem;
          line-height: 27px;
        }

        .aux1 {
          padding-top: 31px;
          padding-left: 70px;
        }

        .btn {
          margin-right: 30px;
        }

        h1 {
          margin-bottom: 20px;
        }
      }
    }

    .section2 {
      padding-left: $general-padding-left - 30px;

      .txt1 {
        padding-left: 129px;
        padding-right: 0;
        line-height: $txt-Line-Height - 10px;
      }
    }

    .section3 {
      .box-purple {
        padding-left: 100px;

        p {
          padding-right: 0;
          line-height: $txt-Line-Height - 10px;
        }
      }
    }

    .section5 , .section7 {
      padding: 70px;
      padding-left: $general-padding-left - 30px;
      padding-right: $general-padding-left - 30px;

      img {
        max-width: 80%;
      }

      p {
        line-height: $txt-Line-Height - 10px;
      }
    }

    .section6 {
      padding-left: $general-padding-left - 30px;
      padding-right: $general-padding-left - 30px;

      img {
        max-width: 80%;
      }

      p {
        line-height: $txt-Line-Height - 10px;
        
      }
    }

    .section7 {
      h1 {
        padding-right: 70px;
      }
    }

    .section-bg3 {
      padding-top: 250px;


      p {
        line-height: $txt-Line-Height - 10px;
        padding-right: 0;
      }
    }

    .section8 {
      padding-left: $general-padding-left - 30px;
      padding-right: $general-padding-left - 30px;
    }

    footer {
      padding-left: $general-padding-left - 30px;
      padding-right: $general-padding-left - 30px;

      .shop {
        a {
          display: inline-block;
        }
      }
    }
  }
}
