@media screen and (max-width: 1920px) {
  .index {
    .section1 {
      .bg-purple {
        margin-left: 120px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
  }

  .flex-lg-equal > * {
    -ms-flex: 1;
    flex: 1;
  }

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.3rem !important;
  }

  .index {
    .section1 {
      .bg-purple {
        margin-left: 30px;

        img {
          max-width: 38%;
        }

        p {
          font-size: 1rem;
          line-height: 27px;
        }

        .aux1 {
          padding-top: 54px;
          padding-left: 90px;
        }

        .btn {
          margin-right: 30px;
        }

        h1 {
          margin-bottom: 20px;
        }
      }
    }

    .section2 {
      padding-left: $general-padding-left - 30px;

      .txt1 {
        padding-left: 129px;
        padding-right: 0;
        line-height: $txt-Line-Height - 10px;
      }
    }

    .section3 {
      .box-purple {
        padding-left: 100px;

        p {
          padding-right: 0;
          line-height: $txt-Line-Height - 10px;
        }
      }
    }

    .section5 , .section7 {
      padding: 70px;
      padding-left: $general-padding-left - 30px;
      padding-right: $general-padding-left - 30px;

      img {
        max-width: 80%;
      }

      p {
        line-height: $txt-Line-Height - 10px;
      }
    }

    .section6 {
      padding-left: $general-padding-left - 30px;
      padding-right: $general-padding-left - 30px;

      img {
        max-width: 80%;
      }

      p {
        line-height: $txt-Line-Height - 10px;
        
      }
    }

    .section7 {
      h1 {
        padding-right: 70px;
      }
    }

    .section-bg3 {
      padding-top: 250px;


      p {
        line-height: $txt-Line-Height - 10px;
        padding-right: 0;
      }
    }

    .section8 {
      padding-left: $general-padding-left - 30px;
      padding-right: $general-padding-left - 30px;
    }

    footer {
      padding-left: $general-padding-left - 30px;
      padding-right: $general-padding-left - 30px;

      .shop {
        a {
          display: inline-block;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }
    .index{
      .section1 {
        .bg-purple {
  
          .aux1 {
            padding: 65px 100px 367px 100px !important;
          }
        }
      }
    }
}

@media only screen and (max-width: 768px) , only screen and (max-width: 600px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  #header {
    padding-left: 0;

    .navbar1 {
      margin-left: 0px;
    }
  }

  
  .index {
    .section2, 
    .section3,
    .section4,
    .section5,
    .section6,
    .section7,
    .section8,
    footer
    {
      padding: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .section1 {
      .bg-purple {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        overflow: hidden;
        min-height: 200px;

        .aux1 {
          padding: 40px 30px;
        }

        .btn {
          margin-bottom: 30px;
        }

        img {
          margin-bottom: 120px;
          max-width: 100%;
        }
      }
    }

    .section-bg1{
      margin-top: -71px;
      padding-bottom: 110px;
    }

    .section2 {
      .txt-purple {
        padding-right: 20px;
        margin-top: 120px;
        margin-bottom: 30px;
      }

      .txt1 {
        padding-left: 0;
        margin-top: 30px;
        margin-bottom: 60px;
      }
    }

    .section3 {
      .box-white {
        padding: 50px 50px 80px 50px;
      }

      .btn-floating {
        left: 50%;
        margin-left: -130px;
      }

      .box-purple {
        padding: 80px 50px 60px 50px;
      }
    }

    .section4 {
      padding-top: 50px;
    }

    .section5 , .section7 {
      padding: 50px 40px;
      position: relative;

      h1 {
        padding-right: 0px;
      }
    }

    .section-bg2 {
      padding-top: 60px;
      padding-bottom: 160px;
    }

    .section-bg3 {
      padding-top: 60px;
      padding-bottom: 50px;
    }

    .section8 {
      img {
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }

    footer {
      padding-top: 60px;

      .buttons-menu {
        a {
          margin-bottom: 10px;
        }

        .btn-primary {
          margin-right: 0;
        }
      }

      .shop {
        img {
          margin-bottom: 10px;
        }
      }

      .social {
        margin-bottom: 50px;
      }
    }
    
  }
}
