@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500');

$font1: 'Rubik';
$roxo: #472E99;
$roxoMaisEscuro:#3D2885;
$vermelho:#F74D49;
$roxoClaro: #D4CBF0;
$colorTxt:#655D7E;
$lilas: #F5F2FF;
$amarelo: #F0DC26;
$fa-font-path: "../fonts";
$padding-section-bg2-e-bg3:300px;
$btn-font-size: 18px;

