@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500');

$font1: 'Rubik';
$roxo: #472E99;
$roxoMaisEscuro:#3D2885;
$vermelho:#F74D49;
$roxoClaro: #D4CBF0;
$colorTxt:#655D7E;
$lilas: #F5F2FF;
$amarelo: #F0DC26;
$fa-font-path: "../fonts";
$btn-font-size: 18px;
$highlightRoxo:#A69AD0;
$txt-Size: 1.5rem;
$txt-Line-Height: 41px;
$btn-recuo-animacao:-10px;

//variaveis 1920
$section1-padding-left: 140px;
$general-padding-left: $section1-padding-left - 10px;
$general-padding-right: $general-padding-left;
