//Core files
@import "variables";
@import "general";

//Components
@import "custom/components/buttons";
@import "custom/components/header";
@import "custom/components/footer";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";


// Pages
@import "custom/pages/index";
@import "custom/pages/motoristas";
@import "custom/pages/passageiros";
@import "custom/pages/escolha";
@import "media_queries";

