.cadastro-motorista,
.cadastro-passageiro
{

  
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  .bg-vermelho {
    background-color: $vermelho;
  }

  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .arrow-left {
    margin: 60px;
    flex: 0.37;
  }

  h1 {
    .highlight {
      color: $highlightRoxo;
    }
  }

  .box-choice {
    padding: 10px 30px 20px 30px;

    h1 {
      margin-bottom: 30px;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 10px 42px 3px rgba(0, 0, 0, 0.2) !important;
      border-radius: 20px;
    }
    img {
      margin-left: -20px;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .radios {
    margin-bottom: 35px;
  }

  p.check {
    color: #989898;
    font-size: 16px !important;
    margin-bottom: 50px;
    a {
      color:#989898;
      text-decoration: underline;
    }
  }

  .remove-hover {
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    }
    
  }

}

.cadastro-passageiro {
  .box-choice {
    h1 {
      .highlight {
        color: #F7BBBA;
      }
    }
  }

  .radio-danger input[type="radio"] + label::after {
    background-color: $vermelho;
  }
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: $vermelho;
  }
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: $vermelho;
  }
}

.cadastro-motorista {


  .radio-danger input[type="radio"] + label::after {
    background-color: $roxo;
  }
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: $roxo;
  }
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: $roxo;
  }
}