
html,body {
  height: 100%;
}
.escolha {

  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .arrow-left {
    margin: 60px 60px 63px;
    flex: 0.37;
  }

  h1 {
    .highlight {
      color: $highlightRoxo;
    }
  }

  .box-choice {
    padding: 10px 30px 20px 30px;
    transition: all 0.3s ease-in-out;

    img , h1{
      transition: all 0.3s ease-in-out;
    }

    svg {

      &:circle, .line {
        transition: all 0.3s ease-in-out;
      }
      
    }

    &:hover {
     
      
      img {
        margin-top: -10px;
       
      }

      svg circle{
          fill: $vermelho;
      }

      svg .line {
        fill:#F7BBBA;
      }
  

      h1 {
        margin-top: 25px;
       
      }

    }
    img {
      margin-left: -20px;
    }
  }

  .text-red {
    color: $vermelho;

    .highlight {
      color: rgba($vermelho, $alpha: 0.6);
    }
  }


}