.fale-conosco {
  h1 {
    margin-bottom: 60px;
  }

  .section-bg1 {
    margin-top: 350px;
    padding-bottom: 580px;
  }

  .form-faleConosco {
    margin-top: 60px;
    display: initial;


    .btn {
      width: 210px !important;

      i {
        color: $vermelho;
      }
    }
  }
}