.index {
  .section-bg1 {
    background-color: $lilas;
    min-height: 200px;
    padding-bottom: 288px;
    margin-top: -215px;
  }

  .section1 {

    .bg-purple {
      margin-left: 100px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      background:$roxoMaisEscuro url(../images/ladoA.png) bottom no-repeat;
      background-size: 100%;

      padding-left: $section1-padding-left;
      padding-top: 90px;

      h1 {
        margin-bottom: 40px;
      }

      p {
        color: $highlightRoxo;
        font-size: $txt-Size;
        line-height: $txt-Line-Height;
        margin-bottom: 40px;
      }

      .btn {
        margin-right: 60px;
      }
    }
  }
  
  .section2 {
    padding-top: 250px;
    padding-bottom: 100px;
    padding-left: $general-padding-left;

    .txt-purple {
      margin-top: 90px;
      padding-right: 150px;
      color: $roxo;
      span {
        color: rgba($color: $roxo, $alpha: .5);
      }
    }

    .txt1 {
      padding-left: 196px;
      padding-right: 75px;
      line-height: $txt-Line-Height;
      font-size: $txt-Size;
    }
  }

  .section3 {
    position: relative;
  
    .btn-floating {
      z-index: 10;
      margin-top: -30px;
      margin-left: 131px
    }
    .box-white {
      background-color: white;
      height: 100%;
      border-top-right-radius: 50px;
      padding: 100px 0 100px 135px;
    
      h1 {
        color: $roxo;
      }
    }

    .box-purple {
      background-color: $roxoMaisEscuro;
      height: 100%;
      border-bottom-left-radius: 50px;
      padding: 100px 130px;

      p {
        font-size: $txt-Size;
        color: $highlightRoxo;
        line-height: $txt-Line-Height;
        padding-right: 120px;
        
        .highlight {
          color: $roxoClaro;
          font-weight: 500;
        }
      }
    }

    .bg-image-car {
      background-image: url(../images/carro.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .bg-image-moto {
      background-image: url(../images/moto.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    
  }

  .section4 {
    padding: 80px 0 35px 0;
    padding-left: $general-padding-left;

    img {
      margin-top:-13px;
    }

    h3 {
      color: $roxoMaisEscuro;
      margin-left: 30px;
    }
  }
  
  .section-bg2
  {
    background-color: $vermelho;
    min-height: 200px;
    padding-top: 300px;
    padding-bottom: 505px;
  }

  .section-bg3 {
    @extend .section-bg1;
    padding-top: 330px;
    padding-bottom: 90px;
  }
  
  .section5 ,
  .section7 {
    background-color: white;
    border-radius: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: $general-padding-left;
    padding-right: $general-padding-right;
    position: absolute;
    z-index: 2;
    margin-top: 50px;
    box-shadow: 0px 20px 30px rgba(71, 46, 153, 0.1);
    color: #655D7E;
  }

  .section5 {
    h1 {
      padding-right:138px;
      margin-top: 30px;
      color: $roxo;

      span {
        color:rgba($roxo, .5);
      }
    }

    .txt1 {
      margin-top: 31px;
      margin-bottom: 30px;
      font-size: $txt-Size;
      line-height: $txt-Line-Height;
    }
  }

  .section6 {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: $general-padding-left;
    padding-right: $general-padding-right;

    h1 {
      padding-right: 50px;

      span {
        color: #F7BBBA;
      }
    }

    p {
      color: white;
      font-size: $txt-Size;
      line-height: $txt-Line-Height;
      margin-bottom: 30px;

      span {
        color: #F7BBBA;
      }
    }
  }

  .section7 {
    h1 {
      padding-right:130px;
      margin-top: 10px;
      color: $vermelho;

      span {
        color:rgba($vermelho, .5);
      }
    }

    p {
      font-size: $txt-Size;
      line-height: $txt-Line-Height;
      margin-bottom: 40px;
    }
  }

  .section8 {
    padding-left: $general-padding-left;
    padding-right: $general-padding-right;

    h1 {
      margin-bottom: 50px;
      color: $roxoMaisEscuro;

    }

    .btn {
  
    }

    p {
      color: $colorTxt;
      font-weight: 500;
      line-height: 36px;
      font-size: 22px;
      padding-right: 110px;

      span {
        color: $colorTxt;
        font-weight: 400;
      }
    }
  }
}