.login {

  .logo {
    margin-left: -40px;
  }
  
  .box-white {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 50px;
    margin-left: 40px;
  }

  .form-login {
    form#login-form {
      padding: 0;
    }
    input {
      color:$vermelho;
    }

    .btn-four {
      border-color: #D4CBF0;
    }
  }

  .input-group-addon {
    border-bottom: 1px solid #eae5fb;
  }

  .arrow-left {
    margin-top: 60px;
    margin-left: 40px;
  }

  .btn-four {
    i {
      color: $vermelho;
    }
    color: $roxo;
  }

  .logo {
    margin-bottom: 70px;
    margin-top: 60px;
  }

  a {
    color: #989898;
    margin-top: 40px;
  }

  .btn {
    width: 100% !important;
    margin-top:23px;

    &:first-child {
      margin-top: 30px;
    }
  }
}