
  .passageiros {
    section {
      padding-left: $general-padding-left;
      padding-right: $general-padding-left;
    }

    .section-bg1 {
      margin-top: 239px;
      background-color: $vermelho;
      padding-top: 385px;
      padding-bottom: 430px;
    }

    .border-before {
      position: relative;

      img {
        position: relative;
        z-index: 2;
      }

      &:before {
        content:"\A";
        width:100%;
        height:10px;
        display:inline-block;
        background-image: linear-gradient(to right, #F7BBBA 40%, rgba(255, 255, 255, 0) 20%);
        background-position: top;
        background-size: 5px 2px;
        background-repeat: repeat-x;
        position: absolute;
    top: 85px;
    z-index: 1;
      }
    }

    .form-search {

      width: 90%;

      label {
        img {
          margin-right: 13px;
        }
      }
    }

    .btn {
      margin: 20px auto;
    }

    .btn-primary {
      width: 340px;
    }

    section.section2 {
      padding-right: 0;
    }

    .section1 , .section3 {
      padding: 0;
      width: 100%;
      margin-top: 0;
      border-bottom-right-radius: 50px;
      .aux1 {
        padding: 70px 30px 30px 120px;
      }

      h1 {
        color: $roxo;
        margin-top: 44px;

        span {
          color: rgba($roxo, 0.5);
        }
      }
    }

    .section2 {
      h1 {
        color: white;

        span {
          color: #f7bbba;
        }
      }

      p {
        margin-top: 35px;
        font-size: 18px !important;

        .highlight {
          font-weight: 500;
          color: white;
        }
      }
    }

    .section3 {

      margin-top: 110px;

      h1 {
        color:$vermelho;
        margin-bottom: 45px;

        span {
          color: #f7bbba;
        }
      }
    }

    .section-bg3 {
      background-color: #F7F0F0;
      margin-top: 0;
      padding-top: 465px;
      padding-bottom: 112px;
    }

    .section8 {
      padding-left: 0;
      padding-right: 0;

      h1 {
        color: $vermelho;

        span {
          color: rgba( $vermelho, 0.5);
        }
      }

      p {
        font-weight: 500;
        font-size: $txt-Size;
        line-height: $txt-Line-Height;

        span {
          color: #655D7E;
          font-weight: 400;
        }
      }
    }
  }





