@media screen and (max-width: 1920px) {
  .passageiros {
    section {
      padding-left: $general-padding-left;
      padding-right: $general-padding-left;
    }

    .section-bg1 {
      margin-top: 160px;
      background-color: $vermelho;
      padding-top: 505px;
      padding-bottom: 430px;
    }

    .btn {
      margin: 20px auto;
    }

    .btn-primary {
      width: 340px;
    }

    .section1 , .section3 {
      padding: 0;
      width: 100%;
      border-bottom-right-radius: 50px;
      .aux1 {
        padding: 70px 30px 30px 90px;
      }

      h1 {
        color: $roxo;

        span {
          color: rgba($roxo, 0.5);
        }
      }
    }

    .section2 {
      h1 {
        color: white;

        span {
          color: #f7bbba;
        }
      }

      p {
        margin-top: 35px;
        font-size: 18px !important;

        .highlight {
          font-weight: 500;
          color: white;
        }
      }
    }

    .section3 {

      margin-top: 110px;

      h1 {
        color:$vermelho;
        margin-bottom: 45px;

        span {
          color: #f7bbba;
        }
      }
    }

    .section-bg3 {
      background-color: #F7F0F0;
      margin-top: 0;
      padding-top: 465px;
      padding-bottom: 112px;
    }

    .section8 {
      padding-left: 0;
      padding-right: 0;

      h1 {
        color: $vermelho;

        span {
          color: rgba( $vermelho, 0.5);
        }
      }

      p {
        font-weight: 500;
        font-size: $txt-Size;
        line-height: $txt-Line-Height;

        span {
          color: #655D7E;
          font-weight: 400;
        }
      }
    }
  

  }
}

.form-search {
  position:relative;
	z-index:2;
	padding:0;
	display:flex;
  align-items:center;
  justify-content:center;

  &::after{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    content:"";
    opacity:0.8;
    z-index:3;
  }

  & > form {
    z-index:4;
    position:relative;
    padding:0px 10px;
    width:100%;
  }

  
/* estilo do input ------------------------------- */
.group 			  { 
	position:relative; 
	margin-bottom:45px; 
}
.group input 				{
	font-size:18px;
	padding:10px 10px 10px 10px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid #989898;
	background:none;
	color:#eee;
}
.group input:focus { outline:none; }

/* LABEL ======================================= */
.group label 				 {
	color:$colorTxt; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:5px;
	-o-transition:0.2s ease all;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

/* active  */
.group input:focus ~ label, input:valid ~ label 		{
	top:-20px;
	font-size:14px;
	color:$colorTxt;
}

/* linha ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#F74D49; 
	-o-transition:0.2s ease all; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}


/* active linha */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
	width:50%;
}

/* HIGHLIGHT ================================== */
.login-card .highlight {
	position:absolute;
	height:0%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active */
.group input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}

.span-input{
	margin-left:10px;
	position:relative;
	top:0px;
}


}












@-webkit-keyframes inputHighlighter {
	from { background:rgba(255,255,255, 0.7); }
	to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:rgba(255,255,255, 0.7); }
	to 	{ width:0; background:transparent; }
}




